# ============================================================================
# PYTHON PACKAGE REQUIREMENTS: basic
# ============================================================================
# REQUIRES: Python >= 2.7
# DESCRIPTION:
#    pip install -r <THIS_FILE>
# ============================================================================


pytest >= 6.2.2
teamcity-messages >= 1.28
pytest-ordering >= 0.6